[package]
name = "runner"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.98"
clap = { version = "4.5.40", features = ["derive"] }
path-clean = "1.0.1"
tokio = { version = "1.45.1", features = ["full"] }
transparent = "0.4.1"
